<div style="padding-top: 10px;">
  <div class="row">
    <div class="col-sm-3">
      <%= image_tag("gecx.jpg") %>
    </div>
    <div class="col-sm-9">
      <h3>O que é um Centro Espírita?</h3>
        <p style="text-align: justify">Um centro espírita é uma entidade filantrópica que desenvolve suas atividades
                                       com base na Doutrina Espírita, codificada nas obras básicas de Allan Kardec,
                                       motivo pelo qual muitos definem os espíritas como Kardecistas. A Doutrina
                                       Espírita (o Espiritismo) não é a mesma coisa que o Espiritualismo porém está
                                       dentro deste, e o princípio do Espiritualismo é encontrado em várias das
                                       doutrinas/religiões que creem na reencarnação, no espírito além da matéria,
                                       etc. Portanto, é uma doutrina diferente da aplicada em outras filosofias e
                                       religiões, tais como a Umbanda e o Candomblé.
        </p>
    </div>
  </div>

  <div class="row" style="padding-top: 20px;">
    <div class="col-sm-9">
      <p style="text-align:justify">
        Em um Centro Espírita, são realizadas algumas atividades, onde as mais comuns são:
        <li style="text-align:justify">ESDE – Estudo Sistematizado da Doutrina Espírita: É uma reunião de grupos, a qual objetiva o estudo metódico,
        contínuo e sério do Espiritismo, com programação fundamentada nas obras básicas codificadas por Allan Kardec.
        É um programa de estudos, realizado sempre através de pequenos grupos que propicia aos participantes a
        oportunidade única de poderem trocar ideias e percepções sobre questões pertinentes à Doutrina Espírita.</li>

        <li style="text-align:justify">Evangelhoterapia: A Evangelhoterapia é uma reunião pública onde o conteúdo de O Evangelho segundo o
          Espiritismo é analisado e exposto ao público de forma simples e objetiva. Tem por finalidade acolher as
          pessoas por meio de ações fraternas e continuadas, destacando os ensinos morais do Evangelho à luz da
          Doutrina Espírita, oferecendo a todos o apoio, o esclarecimento, a consolação e o amparo de que necessitam
          para vencer suas dificuldades. A terapia, além da explanação de O Evangelho segundo o Espiritismo, consta
          de Fluidoterapia (Água Fluidificada e aplicação de Passe).
        </li>
        <li style="text-align:justify">Reuniões de Educação Mediúnica: Podem ser abertas ou fechadas ao público. É recomendado que estas reuniões sejam fechadas ao público,
          abertas somente a pessoas que estejam preparadas para participar destas, ou então onde o contexto e o
          planejamento da reunião permita a entrada de pessoas onde o objetivo da participação esteja de acordo
          com os princípios do Amor e da Caridade.
        </li>
      </p>
    </div>
    <div class="col-sm-3">
      <%= image_tag("gecx2.jpg") %>
    </div>
  </div>
</div>
