body{
  background: url(bg.jpg) no-repeat fixed top center #70a59f;
  color: white;
  font-family: 'Arvo', serif;
  font-size: 1em;
  line-height: 1.4;
}
/*
#header{
  background-color: #fff !important;
}
*/
.logo{
  padding-bottom: 10px;
  padding-top: 10px;
}

.carrossel{
  padding-top: 10px !important;
}
